{% extends "base.html.jinja" %}
{% block title %}404{% endblock %}
{% block main %}
	<style>
		main {
			text-align: center;
        }
	</style>
	<h1>404</h1>
	<p>
	    Requested page not found.
	</p>
{% endblock %}