<!DOCTYPE html>
<html lang="en">
<head>
    {% block head -%}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controls.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title>{% block title %}{% endblock %} - University of Nottingham Course Explorer</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {%- endblock %}
</head>
<body>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
    <a href="https://github.com/Nottingham-Course-Explorer/uon-course-explorer">
        <img src="{{ url_for('static', filename='img/github-dynamic.svg') }}" alt="GitHub Repository" height="40px" width="40px">
    </a>
    {% endblock %}
</footer>
</body>
</html>