{% extends "base.html.jinja" %}
{% block title %}Module Search{% endblock %}
{% block description %}Easily search University of Nottingham modules, a replacement for the University of Nottingham Curriculum Catalogue.{% endblock %}
{% block head %}
	{{ super() }}
    <script type='application/ld+json'>
        {
            "@context": "https://www.schema.org",
            "@type": "WebSite",
            "name": "University of Nottingham Course Explorer",
            "url": "https://uoncourses.org/"
        }
    </script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block main %}
	<h1>Module Search</h1>

	<!-- Search area -->
	<div id="search-area">
		<label for="school" id="school-label">
			School
		</label>
		<div id="school-wrap">
			<select id="school" name="school" form="search" style="max-width: 100%">
				{% for school in school_options %}
					<option {%- if school == school_query %} selected{% endif %}>{{ school }}</option>
				{% endfor %}
			</select>
		</div>

		<label id="level-label" for="level">
			Level
		</label>
		<div id="select-level">
			<select id="level" name="level" form="search">
				<option value="">Any</option>
				{% for level in level_options %}
					<option {%- if level == level_query %} selected{% endif %}>{{ level }}</option>
				{% endfor %}
			</select>
		</div>

		<label id="semester-label" for="semester">
			Semester
		</label>
		<div id="select-semester">
			<select id="semester" name="semester" form="search" style="max-width: 100%">
				<option value="">Any</option>
				{% for semester in semester_options %}
					<option {%- if semester == semester_query %} selected{% endif %}>{{ semester }}</option>
				{% endfor %}
			</select>
		</div>

		<form id="search" action="/" method="get" hx-boost="true" hx-swap="innerHTML show:no-scroll">
		</form>

		<label for="title-input" id="title-label">Title</label>
		<input form="search" id="title-input" name="title" value="{{ name_query }}">
		<button form="search" id="title-button" type="submit" class="btn-primary">Search</button>

		<form id="go-to-module"
			  _="on submit
                halt the event
                set input to (first <input/> in me).value
                if input != ''
                  go to url `module/${input}`
				end">
			<label for="code-input">Code</label>
			<input id="code-input" name="code">
			<button type="submit" class="btn-primary">Go</button>
		</form>
	</div>

	<!-- Results list -->
	<table style="width: 100%">
		<thead>
		<tr>
			<td>Code</td>
			<td>Title</td>
			<td>Credits</td>
			<td>Level</td>
			<td>Semesters</td>
		</tr>
		</thead>
		<tbody>
		{% for module in modules %}
			<tr>
				<td>
					{{- module.code -}}
				</td>
				<td>
					<a href="{{ url_for("module_page", code=module.code) }}">
						{{- module.title -}}
					</a>
				</td>
				<td>
					{%- if module.credits != 0 %}
						{{- module.credits -}}
					{%- else -%}
						N/A
					{%- endif -%}
				</td>
				<td>
					{{- module.level -}}
				</td>
				<td>
					{{- module.semesters -}}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<nav id="pagination">
		<div id="previous-page-grid">
			{% if page != 1 %}
				<a href="{{ modify_parameters(page=page - 1) }}">Previous Page</a>
			{% endif %}
		</div>
		<div id="page-info-grid">
			Page {{ page }} of {{ pages }}
		</div>
		<div id="next-page-grid">
			{% if page != pages %}
				<a href="{{ modify_parameters(page=page + 1) }}">Next Page</a>
			{% endif %}
		</div>
	</nav>
{% endblock %}