:root {
    color-scheme: light dark;
    --colour-foreground: light-dark(#444444, #c9d1d9);
    --colour-background: light-dark(white , #121212);
}

/* Avoid weirdness */
* {
    min-width: 0;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 30px;
}

/* Lists */
li {
    margin: 10px 0;
}
ul {
    margin: 0;
}

body {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 15px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: var(--colour-foreground);
    background-color: var(--colour-background);
}

hr {
    border: none;
    border-top: 1px solid var(--colour-foreground);
}

h1, h2, h3 {
	line-height: 1.2;
}

/* Table */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
	font-weight: bold;
}

th, td {
    border-bottom: 1px solid var(--colour-foreground);
    padding: 15px;
}

/* Datalist */

dl {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

dt {
    display: table-cell;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

dd {
    display: table-cell;
    padding: 10px 20px 10px;
}

.summary-list-row {
    display: table-row;
    border-bottom: 1px solid var(--colour-foreground);
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
	a:link {
		color: #58a6ff;
	}

	a:visited {
		color: #8e96f0;
	}
}