#search-area {
    display: grid;
    grid-template-areas:
            "school-label school school level-label select-level semester-label select-semester"
            "name-label name-input name-button go-to-module go-to-module go-to-module go-to-module";
    grid-template-columns: auto auto 90px auto auto auto 150px;
    grid-template-rows: auto auto;
    column-gap: 5px;
    row-gap: 10px;
}

#title-input {
    grid-area: name-input;
}
#title-label {
    grid-area: name-label;
}
#title-button {
    grid-area: name-button;
}

#go-to-module {
    grid-area: go-to-module;
}

#level-label {
    grid-area: level-label;
}
#select-level {
   grid-area: select-level;
}

#school-wrap {
    grid-area: school;
}
#school-label {
    grid-area: school-label;
}

#semester-label {
    grid-area: semester-label;
}
#select-semester {
    grid-area: select-semester;
}

#pagination {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10px 10px 10px;
}

#previous-page-grid {
    text-align: right;
}

#page-info-grid {
    text-align: center;
}

#next-page-grid {
    text-align: left;
}