#search-area {
    display: grid;
    grid-template-areas:
            "select-level select-semester"
            "search go-to-module";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#search {
    grid-area: search;
}

#go-to-module {
    grid-area: go-to-module;
}

#select-level {
   grid-area: select-level;
}

#select-semester {
    grid-area: select-semester;
}

#pagination {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10px 10px 10px;
}

#previous-page-grid {
    text-align: right;
}

#page-info-grid {
    text-align: center;
}

#next-page-grid {
    text-align: left;
}