#search-area {
    display: grid;
    grid-template-areas:
            "school-label school school level-label select-level semester-label select-semester select-semester"
            "name-label name-input name-button code-label code-input code-input code-input go-button";
    grid-template-columns: auto auto 90px auto auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 5px;
    row-gap: 10px;
}

.search-label {
    display: flex;
    align-items: center;
}
.search-label label {
    width: 100%;
    text-align: center;
}

#title-input {
    grid-area: name-input;
}
#title-label {
    grid-area: name-label;
}
#search-button {
    grid-area: name-button;
}

#code-label {
    grid-area: code-label;
}
#code-input {
    grid-area: code-input;
}
#go-button {
    grid-area: go-button;
}

#level-label {
    grid-area: level-label;
}
#level-select-container {
   grid-area: select-level;
}

#school-select-container {
    grid-area: school;
}
#school-label {
    grid-area: school-label;
}

#semester-label {
    grid-area: semester-label;
}
#semester-select-container {
    grid-area: select-semester;
}

#pagination {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10px 10px 10px;
}

#previous-page-grid {
    text-align: right;
}

#page-info-grid {
    text-align: center;
}

#next-page-grid {
    text-align: left;
}