#comment-input-area {
    display: grid;
    grid-template-areas:
                "identicon textarea"
                "identicon actions";
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#identicon {
    grid-area: identicon;
}

#textarea {
    grid-area: textarea;
}

#actions {
    grid-area: actions;
}

#display-details-vertical {
    dd {
        width: 100%;
    }
}

@media (width >= 600px) {
    #display-details-vertical {
        display: none;
    }
}

@media (width < 600px) {
    #display-details-horizontal {
        display: none;
    }
}

#bottom-area {
    margin-top: 32px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}
#last-updated {
    text-align: right;
}
@media (width < 600px) {
    #bottom-area {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-row-gap: 20px;
    }
    #last-updated {
        text-align: left;
    }
}